* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    --header-height: 60px;
    --footer-height: 50px;
}

.header {
    display: flex;
    line-height: var(--header-height);
    height: var(--header-height);
    background-image: linear-gradient(45deg, #00C4F0  0%, #79F0E8 100%);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 2rem;
    color: white;
    line-height: 2rem;
    height: 2rem;
    width: 8rem;
    cursor: pointer;
}

.main {
    background-color: lightcyan;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.device-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.device {
    display: flex;
    margin: 0 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 250px;
    height: 400px;
    border: 1px solid lightblue;
    border-radius: 3px;
    background-color: azure;
}

.img-device {
    height: 175px;
    width: auto;
}

.device-dscr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3 {
    margin-top: 15px;
}

ul {
    margin-top: 15px;
}

.line {
    height: 1px;
    background: darkcyan;
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    margin: 30px 30px;
}

li {
    padding: 4px;
}

.price {
    margin: 0 30px 0 0;
    font-size: 18px;
    padding: 3px;
}

.btn {
    text-align: center;
    cursor: pointer;
    height: 2rem;
    width: 6rem;
    background: lightcyan;
    border-radius: 5px;
    border: 1px darkcyan solid;
}

a {
    text-decoration: none;
    color: black;
}

.main-item {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: azure;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

.device-item {
    margin: 30px 30px;
}

.price-button {
    display: inline-block;
}

.main-cart {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
    background-color: azure;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(45deg, #00C4F0  0%, #79F0E8 100%);
    height: var(--footer-height);
    line-height: var(--footer-height);
}
